// This is the main styling sheet for the Web App, which uses SASS
// and not standard CSS. SASS allows for more powerful SCSS styling code to
// be compiled into normal CSS.

$testColor: #b4da5b;

// ##################################### -- Landing Page -- ###################################
// Code from full page example: https://mdbootstrap.com/docs/react/css/background-image/
.homeContainer {
    background-image: url('./images/Background1440p.png');

    // These lines control the scaling & positioning of the homeContainer, and the
    // background image by extension
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.homeUIContainer {
    padding-top: 10%;   // used to vertical positioning of the Home UI (280px = old)
    padding-bottom: 30%;
    width: 1000px;
    margin: auto;   // auto-centers the UI container horizontally
}

.logoHeader {
    // These 3 lines center the logo element, which is a child of logoHeader
    display: flex;
    justify-content: center;
    align-items: center;

    height: 200px;  // used to control the size of the logo
}

.logo {
    height: inherit;    // have logo image inherit height of logoHeader div
}

.carousel {
    width: 1000px;
    margin: auto;
}

// Styling for all form containers
.landingPageForm {
    width: 80%; // controls how wide input fields are
    margin: auto;   // centers input fields
}

// Styling for all input fields
.form-group {
    background-color: #ffffff;
    
}

// Login Button testing
.btn.landing {
    color: #ffffff;
}