// Styling sheet for the Inventory Card

@mixin inventoryCardSetup {
    width: 70%;
    height: fit-content;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;

    border-radius: 10px;
}

.inventoryResultsCard {
    @include inventoryCardSetup;
}

.categoryCard {
    @include inventoryCardSetup;
}

.ingredientRowContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    // allows for ingrediet items to wrap if overflowing
    justify-content: center;
}