// Styling Sheet for All Ingredient Coins

.ingredientContainer {
    width: fit-content;
}

// General Styling for ingredients
// Defining box shadow that is constant across all ingredient categories
@mixin circleContainerSetup {
    width: 150px;
    height: 150px;
    border-radius: 50%;  // rounding container into a circle
    margin: 20px;

    // these lines center the ingredient image horizontally and vertically
    display: flex;
    justify-content: center;
    align-items: center;

    // code for this box-shadow from https://css-tricks.com/circular-3d-buttons/
    box-shadow: 5px 3px 8px rgb(128, 128, 128), inset 1px 2px 7px rgba(255, 255, 255, 0.603);
}

.ingredientMeatCircleContainer {
    @include circleContainerSetup();

    // gradient (tilt, start color, end color)
    // tilt rotates clockwise starting from the bottom and ending on the top
    background: linear-gradient(-40deg, rgb(68, 0, 0), rgb(175, 0, 0) 70%);
}

.ingredientVegetableCircleContainer {
    @include circleContainerSetup();

    background: linear-gradient(-40deg, rgb(2, 59, 0), rgb(6, 189, 0) 70%);
}

.ingredientFruitCircleContainer {
    @include circleContainerSetup();

    background: linear-gradient(-40deg, rgb(129, 131, 0), rgb(251, 255, 0) 70%);
}

.ingredientImage {
    display: true;  // just used to easily disable the image for color testing
    width: 80%; // percentage of parent CircleContainer the image will occupy
    height: 80%;
    border-radius: 50%; // rounding image into a circle
}